@use 'header';

*{
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    font-size: 20px;

    &:focus{
        border: none;
        outline: none;
    }

}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    &--ingresar-problema{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 65px;
        margin: 3%;
    }

    &--resultado{
margin: 3%;
    }
}

.descripcion{
    margin: 5%;
    padding: 3%;
}

.titulo{
    margin: 3%;
}

.texto{
    font-size: 15px;
}

.textArea{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    resize: none;
    border-bottom: 1px solid #000;
    padding-top: 33px;
}

.span__textarea{
    width: 70%;
    height: 90%;
}

#select{
    display: flex;
    align-items: end;
    width: 11%;
    height: 90%;
    border: none;
    appearance:none;
}

.boton{

    &--calcular{
        background-color: #892CDC;
        display: block;
        width: 20%;
        height: 90%;
        padding: 4px;
        color: #FFF;
        line-height: 28px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }


}

.chart{
    margin: 10%;
    max-width: 500px;
    max-height: 300px;
    min-height: 175px;
    min-width: 275px;
}

