.header {
	display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;

    &--logo{
        height: 90px;
        width: 80px;
        margin: 15px;
    }
}

.menu{
    width: 75%;
    max-width: 2000px;

    &__contenedorBotones {
        display: flex; 
    }
}

.iconoMenu{
    display: none;
}

.boton{
    background: #892CDC;;
	display: block;
	padding: 15px 25px;
	color: #FFF;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
    font-size: 25px;

    &:hover{
        background: #2C3E50;
    }

    &--menuDesplegable{
        border: none;
        background: #FFF;
        color: #000;
        transition: all 1s ease-out;

        &:hover{
            text-decoration: underline;
            color: #892CDC;
            transition: all 1s;
            background: #FFF;
        }
    }

    &--pequeño{
        margin: auto;
        padding: 10px 18px;
    }
}

@media (max-width: 1000px){

    .header{
        justify-content: space-between;
    }

    .iconoMenu{
        display: flex;
        width: 100px;
        height: 60px;
        cursor: pointer;
        align-items: center;
        
    }

    .fa{
        font-size: 35px;
        margin: auto;
        @media (max-width: 1000px) {
            font-size: 25px;
        }
    }

    .boton--menuDesplegable{
        width: 100%;
    }


    .menu {
        display: none;
        width: 100%;

        &__contenedorBotones {
            display: flex;
            flex-direction: column;
            width: 100%;
          }

    }

    .header__menuDesplegable:checked ~ .menu{
        display: flex;
    }
}
