@charset "UTF-8";
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
  margin-bottom: 15px;
}
.header__logo {
  height: 90px;
  width: 80px;
  margin: 15px;
}
.header__menu {
  width: 75%;
  max-width: 2000px;
  flex-direction: column;
}
.header__button--menu {
  border: none;
  background: #FFF;
  color: #000;
  transition: all 1s ease-out;
  height: 45%;
  font-size: 18px;
}
.header__button--menu:hover {
  text-decoration: underline;
  color: #892CDC;
  transition: all 1s;
  background: #FFF;
}

@media (max-width: 1000px) {
  .header {
    justify-content: space-between;
  }
  .header__button--menu {
    width: 100%;
  }
  .header__menu {
    display: none;
    width: 100%;
    height: 200px;
  }
  .header__menu.active {
    display: flex;
  }
  .header.active {
    height: 300px;
  }
  .header.desactive {
    height: 200px;
  }
  .fa {
    font-size: 35px;
    margin: 0px 35px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.titulo {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  max-width: 650px;
}
.titulo--grande {
  font-size: 28px !important;
  margin: 12%;
}
@media (max-width: 1000px) {
  .titulo--grande {
    margin: 18%;
  }
}
.titulo--mediano {
  font-size: 20px !important;
}
.titulo--pequeño {
  font-size: 18px !important;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}
.contenedor--caratula {
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}
.contenedor--imagenProyectos {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  background-image: url("/imagenCarrito.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor--imagenProyectos:hover {
  filter: blur(15px);
  transition: filter 1s ease-in-out;
}
.contenedor--metodologia {
  justify-content: center;
  background-color: #892CDC;
  color: #fff;
  width: 100%;
  margin: 0px;
}
.contenedor--imagen {
  max-height: 300px;
  max-width: 350px;
  min-width: 200px;
  min-height: 150px;
  margin-bottom: 45px;
}
.contenedor--imagenCaratula {
  width: 75%;
  justify-content: center;
}
.contenedor--tecnologias {
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;
  bottom: 50px;
}
.contenedor--tecnologias__tarjetas {
  padding: 10px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 22%;
  height: 700px;
  border: 1px ridge rgb(168, 161, 161);
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .contenedor--tecnologias__tarjetas {
    width: 35%;
  }
}
.contenedor--tarjetasProyectos {
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.cuerpo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.imagen {
  width: 100%;
  height: 100%;
}
.imagen--caratula {
  max-width: 600px;
}
@media (max-width: 1000px) {
  .imagen--caratula {
    width: 60%;
  }
}
.imagen--tecnologias {
  width: 200px;
  height: 150px;
}

.texto {
  font-size: 20px;
  max-width: 900px;
  margin: 50px;
}
.texto--descripcion {
  font-size: 23px;
  max-width: 1300px;
}
.texto--metodologia {
  padding: 5%;
  margin: 0px;
  width: 70%;
  text-align: justify;
}
@media (max-width: 1000px) {
  .texto--metodologia {
    width: 90%;
    padding: none;
    font-size: 16px;
  }
}
.texto--proyectos {
  font-size: 20px;
  opacity: 0;
  position: absolute;
  font-weight: 700;
  color: #2c2a2a;
}
.texto--tecnologias {
  text-align: justify;
  font-weight: 500;
  font-size: 15px;
  margin: 4px;
  line-height: 2;
}
@media (max-width: 1000px) {
  .texto--tecnologias {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .texto--descripcion {
    padding: 10px;
    margin: 20px;
    border: 0px;
  }
}

.lista li {
  list-style: none;
  margin: 12px 0px;
}

.proyectos {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.proyectos:hover {
  box-shadow: 2px 0px 11px 7px rgba(128, 115, 115, 0.75);
}
.proyectos:hover p {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}
.listali {
  margin: 10px 0px;
}

.footer {
  background-color: #892CDC;
  width: 100%;
  padding: 20px 25px;
  height: 80px;
}

@media (max-width: 1000px) {
  .titulo {
    font-size: 20px !important;
    text-align: center;
    margin: 5px;
  }
  .titulo--mediano {
    font-size: 16px !important;
  }
  .titulo--pequeño {
    font-size: 14px !important;
  }
  .contenedor--imagenCaratula {
    width: 90%;
    height: 175%;
  }
  .contenedor--tecnologias {
    flex-direction: column;
  }
  .contenedor--tecnologias__tarjetas {
    width: 80%;
    height: 850px !important;
  }
  .contenedor--tecnologias__tarjetas {
    padding: 8%;
    width: 65%;
  }
  .texto {
    margin: 12px;
    font-size: 20px;
  }
  .texto--proyectos {
    font-size: 5px;
  }
  .texto--metodologia {
    padding: 10% 11%;
    margin: 0px;
  }
  .texto--tecnologias {
    font-weight: 400;
    font-size: 13px;
  }
}/*# sourceMappingURL=sassIndex.css.map */