@use 'header';

body {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-size: 22px;
	font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 12px;

    &--imagen{
        height: 200px;
        min-width:  220px;
        max-width: 300px;
        margin-top: 20px;
    }

    &--tarjetasProyectos{
        justify-content: center;
    }
}

.imagen{
    width: 100%;
    height: 100%;

    &--caratula{
        width: 60%;
        @media (max-width: 1000px) {
            width: 100%;
         }
    }
}

.texto{
    padding: 10px;
	margin: 20px;
    font-size: 26px;
}

.proyectos{
	height: 680px;
	width: 450px;
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    margin: 40px;
    justify-content: center;

    &:hover {
        box-shadow: 2px 0px 11px 7px rgba(128,115,115,0.75);
    }
}

.footer {
    background-color: #892CDC;;
    height: 80px;
}